version: '3.8'

x-ws-env: &ws_env
  WS_DEFAULT_URL: ${WS_DEFAULT_URL:-wss://ws.grouploop.feib.nl}
x-cdn-env: &cdn_env
  CDN_BASE_URL: ${CDN_BASE_URL:-https://cdn.hitloop.feib.nl}

services:
  socket:
    build:
      context: ./socket-server
      dockerfile: Dockerfile
    ports:
      - "5003:5000" # WebSocket server (bind on all interfaces)
    volumes:
      - ./socket-server:/app
    environment:
      - WS_HOST=0.0.0.0
      - WS_PORT=5000
      - PYTHONUNBUFFERED=1
    networks:
      - proxy
  client_hub:
    build:
      context: ./client-hub
      dockerfile: Dockerfile
    ports:
      - "5004:5000" # Unified Flask client hub
    volumes:
      - ./client-hub:/app
    environment:
      <<: [*ws_env, *cdn_env]
      DEFAULT_APP: ${DEFAULT_APP:-}
    networks:
      - proxy
  docs:
    build:
      context: ./documentation
      dockerfile: Dockerfile
    ports:
      - "5006:5000" # MkDocs documentation
    volumes:
      - ./documentation/mkdocs.yml:/site/mkdocs.yml:ro
      - ./documentation/docs:/site/docs
    networks:
      - proxy

networks:
  proxy:
    external: true

